.container
  #container_user
    %h2 Introduce Datos
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      %div
        = f.label :username, "Usuario"
        %br/
        = f.text_field :username, :autofocus => true
      %div
        = f.label :password
        %br/
        = f.password_field :password
      - if devise_mapping.rememberable?
        %div
          = f.check_box :remember_me
          = f.label :remember_me, "Recuerdame"
      %div= f.submit "Acceder", class: "myButton"
    = render "devise/shared/links"
