.container
  .row
    .col-lg-12
      #cart_container
        - @cart.line_items.each do |line_item|
          %ul.table_cart_list.clearfix
            - photo = line_item.size.product.default_photo
            %li= image_tag (photo.first.picture.url(:thumb)), class: "table_img"
            %li= line_item.size.product.name
            %li= image_tag ("#{line_item.size.size.downcase}_size_cart.png"), class: "img-responsive product_size"
            %li= line_item.quantity
            %li= number_to_currency(line_item.total_price, unit: "€", format: "%n%u")
            %li= link_to "" ,line_item, method: :delete, data: {confirm:"Are you sure ?"}, class:"delete_item"


        %p.shipping_price
          * Gastos de envio
          = number_to_currency(Order::SHIPPING_PRICE, unit: "€", format: "%n%u")

        %p.total_price
          %span.total
            Total:
          = number_to_currency(@cart.total_price, unit: "€", format: "%n%u")
  .row
    .col-lg-4.col-lg-push-8.col-md-4.col-md-push-8.col-sm-2.col-sm-push-10.col-xs-2.col-xs-push-9
      = button_to "Realizar pedido", new_order_path, method: :get, class: "myButton checkout_button"
  .row
    .col-lg-12.col-lg-push-2
      = button_to "Vaciar Carrito", @cart, method: :delete, data:{confirm: "Are you sure ?"}, class: "myButton", form_class: "empty_cart"






