= form_for [:admin, @product], html: {multipart: true} do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        - if @product.errors.count == 1
          = t "errors.templeate.header.one", model: @product.class
        -else
          = t "errors.template.header.other", model: Product.model_name.human, count: @product.errors.count

      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg
  .product_info
    .field
      = f.label :name, "Nombre"
      = f.text_field :name
    .field
      = f.label :description, "Descripción"
      = f.text_area :description
    .field
      = f.label :category, "Categoria"
      = f.select :category, Product::CATEGORIES.keys, prompt: "Select a category"
    .field
      = f.label :sub_category, "Sub-categoria"
      = f.select :sub_category, Product::CATEGORIES, prompt: "Select sub category"
    .field
      = f.label :outlet
      = f.check_box :outlet

      = f.fields_for :photos do |p|
        - if p.object.new_record?
          .field
            = p.label :picture , "Foto"
            = p.file_field :picture
        - unless p.object.new_record?
          .photo_field.clearfix
            = image_tag p.object.picture.url(:thumb)
            = link_to "Borrar", "#", class: "delete_photo"
            = p.hidden_field :_destroy



  .sizes_field
    = f.fields_for :sizes do |ff|
      .size_price
        .field
          = ff.hidden_field :size
          %h2= ff.object.size
          %p.final_price 0
        .field.price_field
          = ff.label :price, "Precio"
          = ff.text_field :price
        .field
          = ff.label :stock
          = ff.text_field :stock
        .field.discount_field
          = ff.label :discount, "Descuento(%)"
          = ff.text_field :discount
  .info
    %p Recuerda que productos sin stock no aparecen en la tienda

  .actions
    = f.submit 'Save', class: "myButton"




