%h1
  Listado de Productos (
  = @products.count
  )

#search_form
  = form_tag admin_products_path, method: "get" do
    = text_field_tag :search, params[:search]
    = submit_tag "Categoria", name: nil, class: "myButton"
= will_paginate(@products)
%table
  %tr
    %th Nombre
    %th Categoria
    %th Sub-Categoria
    %th Foto
    %th XS
    %th S
    %th M
    %th G
    %th XG

    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.category.upcase
      %td= product.sub_category
      %td= image_tag product.picture.url(:thumb)
      %td
        - s = product.sizes.find_by_size("XS")
        - if s
          = number_to_currency(s.price, unit: "€", format: "%n%u")
          %br
          == (x #{s.stock.to_i})
      %td
        - s = product.sizes.find_by_size("S")
        - if s
          = number_to_currency(s.price, unit: "€", format: "%n%u")
          %br
          == (x #{s.stock.to_i})
      %td
        - s = product.sizes.find_by_size("M")
        - if s
          = number_to_currency(s.price, unit: "€", format: "%n%u")
          %br
          == (x #{s.stock.to_i})
      %td
        - s = product.sizes.find_by_size("G")
        - if s
          = number_to_currency(s.price, unit: "€", format: "%n%u")
          %br
          == (x #{s.stock.to_i})
      %td
        - s = product.sizes.find_by_size("XG")
        - if s
          = number_to_currency(s.price, unit: "€", format: "%n%u")
          %br
          == (x #{s.stock.to_i})
      %td
        = link_to 'Ver', admin_product_path(product)
        |
        = link_to 'Editar', edit_admin_product_path(product)
        |
        = link_to 'Borrar', [:admin, product], :method => :delete, :data => { :confirm => '¿ Estas seguro de querer borrarlo ?' }

%br



= link_to 'Nuevo Producto', new_admin_product_path
