%p#notice= notice

.links
  = link_to 'Edit', edit_admin_product_path(@product)

  = link_to 'Back', admin_products_path
.show_product
  %p
    %b Nombre:
    = @product.name
  %p
    %b Description:
    = simple_format @product.description
  %p
    %b Category:
    = @product.category
  %p
    %b Sub Category:
    = @product.sub_category

  %table.table_show_product
    %caption Precios
    %tr
      - @product.sizes.each do |size|
        - if size.price
          %th= size.size
    %tr
      - @product.sizes.each do |size|
        - if size.price
          %td= number_to_currency(size.price_after_discount, unit: "€", format: "%n%u")
    %tr
      - @product.sizes.each do |size|
        - if size.stock?
          %td
            Stock
            = size.stock
- @product.photos.each do |photo|
  .show_image
    = image_tag photo.picture.url(:medium), class: "img-rounded"
    = radio_button 'photo', "", photo.id
%p{style: "color: rgba(210,82,47,1);"} (*) La imagen que eligas aqui sera la que aparezca en la seción pública
