.container
  = render "shared/flash"
  .show_container
    .row
      .col-lg-4.col-md-4
        = image_tag @product.picture.url(:large), class: "show_img img-responsive"
      .col-lg-8.col-md-8.manual_height
        .info_product
          %h3
            = @product.name
          %h4 Caracteristicas
          %p= @product.description


          %table.price_list
            %tr
              - @product.sizes.each do |size|
                - if size.stock?
                  %th= image_tag ("#{size.size.downcase}_size_product.png"), class: "img-responsive"


            %tr
              - @product.sizes.each do |size|
                - if size.stock?
                  %td
                    - if size.discount > 0
                      %p.old_price= number_to_currency(size.price, unit: "€", format: "%n%u")
                      %p= number_to_currency(size.price_after_discount, unit: "€", format: "%n%u")
                    - else
                      %p.margin_p_show_product= number_to_currency(size.price, unit: "€", format: "%n%u")
                    = form_tag(line_items_path, method: :create) do
                      = hidden_field_tag "size_id", size.id
                      = submit_tag "lo quiero", class: "myButton"


    %hr

    .row
      %ul.related_pictures
        - @related_product.each do |product|
          - if product.stock?
            %li
              = link_to image_tag(product.picture.url(:thumb), class: "small_img img-responsive"), product_path(product)


