!!!
%html
  %head
    %title Maximiliano
    = stylesheet_link_tag "admin"
    = stylesheet_link_tag('http://fonts.googleapis.com/css?family=Raleway:400,600,700')
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #container
      .container
        %nav.navbar.navbar-default.menu-admin{role:"navigation"}
          .navbar-header
            = link_to (image_tag "logo.png", alt: "MaximilianoDeYork", class: "img-responsive navbar-brand"), admin_path

          .collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-text.main-admin-menu
              %ul.nav.navbar-nav
                %li
                  = link_to "PRODUCTOS", admin_products_path

        = yield