!!!
%html
  %head
    %title Maximiliano
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag('http://fonts.googleapis.com/css?family=Raleway:400,600,700')
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #container
      .row.color_header
        .container
          - if flash
            - flash.each do |key,value|
              %p{class: "#{key}"}
                = value
          .col-lg-1.col-md-4.hidden-sm.hidden-xs
            #logo
              = link_to (image_tag "logo.png", alt: "MaximilianoDeYork", class: "img-responsive"), root_path, class: "no-border"
          .col-md-8.col-sm-12.col-xs-12.col-md-pull-1.visible-md.visible-sm.visible-xs
            #logo_2
              %h1 Maximiliano de York

          .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-2.hidden-sm.hidden-xs
            %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu", role: "menu", style: "display: block; position: static; margin-bottom: 5px; *width: 180px;"}
              %li.dropdown-submenu
                %a{href: collection_path, class:("underline" if @switch== "collection") } COLECCION
                %ul.dropdown-menu.coleccion.quicksand{class: ("visible" if @switch == "collection")}
                  %li
                    %a{href: "#", class: "channel"} CHANNEL
                  %li
                    %a{href: "#", class: "piel"} PIEL
                  %li
                    %a{href: "#", class: "trajes"} TRAJES
                  %li
                    %a{href: "#", class: "abrigos"} ABRIGOS
              %li.dropdown-submenu
                %a{href: urban_path, class:("underline" if @switch== "urban")  } URBANO
                %ul.dropdown-menu.urbano.quicksand{class: ("visible" if @switch == "urban")}
                  %li
                    %a{href: "#", class: "punto_clasico"} PUNTO CLASICO
                  %li
                    %a{href: "#", class: "punto_deco"} PUNTO DECO
                  %li
                    %a{href: "#", class: "basico"} BÁSICOS
                  %li
                    %a{href: "#", class: "impermeables"} IMPERMEABLES
              %li.dropdown-submenu
                %a{href: accesories_path, class:("underline" if @switch== "accesories")  } ACCESORIOS
                %ul.dropdown-menu.accesorios.quicksand{class: ("visible" if @switch == "accesories")}
                  %li
                    %a{href: "#", class: "mantas"} MANTAS
                  %li
                    %a{href: "#", class: "cojines"} COJINES
                  %li
                    %a{href: "#", class: "collares"} COLLARES
                  %li
                    %a{href: "#", class: "correas"} CORREAS
              %li
                = link_to "SASTRE", tailor_path, class:("underline" if @switch== "tailor")
              %li
                = link_to "CARRITO", "#", class:("underline" if @switch== "shop")

          .col-sm-12.visible-sm.visible-xs
            .panel-group#accordion
              %a.pull-right{:href => "#collapseOne", data: {toggle: "collapse", parent: "#accordion"}} small

              #collapseOne.panel-collapse.collapse.small-menu
                %ul
                  %li
                    = link_to "COLECCIÓN", "#"
                  %li
                    = link_to "URBANO", "#"
                  %li
                    = link_to "ACCESORIOS", "#"
                  %li
                    = link_to "SASTRE", tailor_path
                  %li
                    = link_to "CARRITO", "#"
      = yield

      .row
        .nav.nav-bar-default.navbar-fixed-bottom.footer
          .container
            .row
              .col-lg-5
                %nav.footer_nav.navbar-text
                  %ul
                    %li= link_to "AYUDA", help_path
                    %li= link_to  "NOSOTROS", us_path
                    %li= link_to  "MI CUENTA", new_user_session_path
              .col-lg-4.col-lg-offset-3.col-md-3.col-md-offset-4.col-sm-3.col-sm-offset-4
                %span.navbar-text
                  = mail_to "info@maximilianodeyork.com", "INFO@MAXIMILIANODEYORK.COM"
